.main-view-leaves{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leave-table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: .4);
    padding: 10px;
}

.leave-headings{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 600;
    font-size: 1.2em;
}


.leave-heading-values{
    height: 100%;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2em;
}

.leave-heading-values{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.staff-leave-prompts{
    padding: 5px 10px;
}

.staff-leave-prompts-values{
    padding: 5px 10px;
}