.productList{
    flex: 4;
    padding: 5px 10px;
    min-width: 500px; 
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}

.grid-cell {
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-top: 10px;
    border: 0.2px solid lightgray;
    width: calc(100% - 18px) !important;
  }
  
  .customDataGrid {
    border: none;
    width: 100%;
  }
  
  .customDataGrid .MuiDataGrid-main {
    border: none;
    border-top: 1px solid lightgrey;
    padding: 0 5px;
  }

  .customDataGrid .MuiDataGrid-columnHeaders {
    color: #3bb077;
  }

  
  .customDataGrid .MuiDataGrid-main .MuiDataGrid-cell {
    border-bottom: none;
  }
  
  /* Styles for the scrollbar in the data grid */
  .customDataGrid .MuiDataGrid-virtualScroller::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }
  
  /* Styles for the track of the scrollbar in the data grid */
  .customDataGrid .MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Styles for the thumb of the scrollbar in the data grid */
  .customDataGrid .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  /* Styles for the thumb of the scrollbar in the data grid on hover */
  .customDataGrid .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  
  .customDataGrid .MuiDataGrid-cell:focus-within,
  .customDataGrid .MuiDataGrid-columnHeader:focus-within {
    outline: none !important;
  }
  