.record {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(106deg, rgba(153, 128, 250, 0.8715861344537815) 0%, rgba(255, 255, 255, 1) 100%);
    height: auto;
    min-height: 90vh;
}

.imageContainer {
    text-align: center;
    vertical-align: middle;
}

table {
    margin: 5px;
    border: 2px solid gray;
}

table tr td {
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px 10px;
}