// colors
$primary-color-navyBlue : #2C2C54;
$secondary-color-purple1: #7D5FFF;
$secondary-color-purple2: #5F27CD;
$secondary-color-purple3: #9980FA;
$secondary-color-purple4: #E9E3FF;

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    height: 100vh;
    padding-top: 5px;
    background-color: $primary-color-navyBlue;
    overflow-x: hidden;
    overflow-y: scroll;
}

// .sidebar-container::-webkit-scrollbar {
//     display: none;
// }

.sidebar-container::-webkit-scrollbar-thumb {
    background-color: $secondary-color-purple1;
    border-radius: 15px;
}

.sidebar-container::-webkit-scrollbar{
    width: 0.3em;
}


.brandName {
    height: 10%;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 30px;
    min-height: 70px;
    color: $secondary-color-purple4;
}

.brandFront {
    color: $secondary-color-purple3;
}

// side bar items

.functionPrompt{
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    user-select: none;
    cursor: pointer;
}


.mainFuncIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 10px;
    color: white;
}

.mainFuncItemName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 15px;
    width: 250px;
    color: white;
}


.scrollFuncIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
    color: white;
}


.scroll-function-show{
    transform: rotate(90deg);
}

.cont-show{
   height: auto;
}

.cont-hide{
    height: 0px;
    overflow: hidden;
}

.nested-function-container{
    height: 0;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.nested-function-container .cont-show {
    height: auto;
}


.side-bar-item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.side-bar-nested-item {
    text-decoration: none;
    background: none;
    border: none;
    color: $secondary-color-purple4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    padding: 0 0 0 50px;
    font-size: 16px;
    height: 40px;
    margin: 10px 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: .3s;
}

.side-bar-nested-item:hover {
    background-color: white;
    color: $secondary-color-purple1;
    cursor: pointer;
}

.side-bar-nested-item:hover>.icon {
    color: $secondary-color-purple1;
}

.active-nested-item {
    background-color: rgba($color:#ffffff, $alpha: .9);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: $secondary-color-purple1;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 15px;
}

.item-name {
    font-size: 16px;
    font-weight: 500;
}